body {
  background-color: #000000;
}
h1 {
  color: #e53939;
  font-family: "Lucida Sans", sans-serif;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.963);
}
p {
  color: #ffffff;
  font-family: "Lucida Sans";
  text-align: justify;
  margin-right: 100px;
}
section {
  margin: 100px;
}
footer {
  text-align: center;
  color: #ffffff;
  font-family: "Lucida Sans";
}
hr.three-d {
  border: none;
  height: 2px;
  background-color: #333;
  box-shadow: 0 1px 1px #bbb;
}
b {
  color: #e53939;
}
@keyframes piscar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.piscar {
  animation: piscar 2s ease-in-out infinite;
}
.homeContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto 20px;
}
.imgPessoal {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto 20px;
  border-radius: 20%;
}

.tecnologias {
  width: 10%;
  display: flex;
  align-items: center;
  animation: piscar 2s ease-in-out infinite;
}

.icons {
  animation: piscar 2s ease-in-out infinite;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 0 0 auto;
  width: 90px;
}

.links {
  display: flex;
  gap: 10px;
}

.links a {
  text-decoration: none;
  color: #e53939;
  font-family: "Lucida Sans";
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.links a:hover {
  background-color: #ddd;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  size: 100px;
}

.social-icons a {
  color: white;
  font-size: 26px;
  text-decoration: none;
  margin: 0 10px;
}
.social-icons a:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
  body {
    background-color: #000000;
    margin: 0;
    padding: 0;
  }

  h1 {
    color: #e53939;
    font-family: "Lucida Sans", sans-serif;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.963);
    text-align: center;
    margin-top: 20px;
  }

  p {
    color: #ffffff;
    font-family: "Lucida Sans";
    text-align: justify;
    margin: 10px;
  }
  .pContato {
    color: #ffffff;
    font-family: "Lucida Sans";
    text-align: left;
  }

  section {
    margin: 50px 10px;
  }

  footer {
    text-align: center;
    color: #ffffff;
    font-family: "Lucida Sans";
    padding: 20px;
  }

  hr.three-d {
    border: none;
    height: 2px;
    background-color: #333;
    box-shadow: 0 1px 1px #bbb;
  }

  b {
    color: #e53939;
  }

  .imgPessoal {
    width: 20%;
    display: block;
    margin: 0 auto 20px;
    border-radius: 20%;
  }
  img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto 20px;
  }

  .tecnologias {
    width: 30%;
    margin-left: 120px;
    display: flex;
    align-items: center;
  }

  @keyframes piscar {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  .piscar {
    animation: piscar 2s ease-in-out infinite;
  }
  .icons {
    animation: piscar 2s ease-in-out infinite;
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  .homeContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .homeContent img {
    order: -1;
  }

  header {
    padding: 10px 0;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .links {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
  }

  .links a {
    text-decoration: none;
    color: #e53939;
    font-family: "Lucida Sans";
    padding: 10px 15px;
    transition: background-color 0.3s;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-icons a {
    color: white;
    size: 50px;
    text-decoration: none;
    margin: 0 10px;
  }
  .social-icons a:hover {
    transform: scale(1.2);
  }
}
